@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* 
font-family: 'Roboto', sans-serif; 
400, 700
*/

@font-face {
    font-family: 'intriqueScript';
    src: url("../fonts/IntriqueScript.ttf");
}

body {
    overflow: auto;
    font-size: 16px;
}
/* Header */
.cabecalho {
    border-bottom: 1px solid black;
}

a {
    text-decoration: none;
    color: black;
}
.logo-cabecalho {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 15px;
}

.img-logo-cabecalho {
    width: 110px;
    height: 110px;
}

.text-logo-cabecalho {
    font-family: 'intriqueScript';
    font-size: 4.3em;
    color: #FF659F;
    line-height: 1;
}

.navigation-bar-cabecalho ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation-bar-cabecalho li {
    margin: 0 18px;
    font-size: 1.8em;   
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.item-atual {
    font-weight: 700;
}

.navigation-item-index:hover {
    color: #FF659F;
    text-decoration:  underline;
}

.navigation-item-produtos:hover {
    color: #FF659F;
    text-decoration:  underline;
}

.navigation-item-sobre:hover {
    color: #FF659F;
    text-decoration:  underline;
}

/* Footer */
.rodape-site {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid rgba(0,0,0,0.25);
}

.logo-rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 10px;
}

#logo-cherrystore-rodape {
    width: 32px;
}

#texto-logo-cherrystore-rodape {
    font-family: 'intriqueScript';
    font-size: 2em;
    color: #FF659F;
    text-align: left;
    margin: 0;
}

.icons-rodape {
    border-radius:50%;
    box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.30);
    width: 24px;
    margin: 8px 5px;
}

#texto-copyright {
    color: #999999;
}

/* 

320px — 480px: dispositivos móveis
481px — 768px: iPads, tablets
769px — 1024px: telas pequenas, laptops
1025px — 1200px: desktops, telas grandes
1201px e acima —  telas muito grandes, TVs

*/


@media screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        font-size: 14px;
    }
}

@media all and (min-width: 480px) and (max-width: 768px) { 
    body {
        font-size: 12px;
    }
}

@media all and (max-width: 480px) {
    body {
        font-size: 10px;
    }
 }
