@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* 
font-family: 'Roboto', sans-serif; 
400, 700
*/

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
/*
font-family: 'Space Mono', monospace;
700
*/

body {
    font-size: 16px;
}

.imagem-banner-principal {
    width: 100%;
}

.texto-produtos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;
    margin: 20px;
}

.texto-cherrystore {
    color: #1a1a1a;
    font-family: 'Space Mono', monospace;
    font-size: 1.5em;
    text-align: center;
    text-indent: 1.2em;
    width: min(550px, 70vw);
}

.img-carrossel-produtos {
    width: min(500px, 65vw);
    border-radius: 25px;
}

.produto-destaque {
    text-decoration: underline;
}

.produto-destaque:hover {
    color: #ff659f;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    body {
        font-size: 16px;
    }
}

@media all and (min-width: 481px) and (max-width: 768px) { 
    body {
        font-size: 14px;
    }
}

@media all and (max-width: 480px) {
    body {
        font-size: 12px;
    }
 }
