@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* 
font-family: 'Roboto', sans-serif; 
400, 700
*/

.carrossel-principal img {
    width: 100%;
}

.texto-produtos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 24px 15px;
}

.texto-cherrystore {
    width: max(320px, 35vw);
    color: #1a1a1a;
    font-family: 'Roboto', sans-serif; 
    font-size: 18px;
    text-align: justify;
}

.img-carrossel-produtos {
    width: max(360px, 32vw);
}
