@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
/* 
font-family: 'Roboto', sans-serif; 
400, 700, 900
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');
/* 
    font-family: 'Montserrat', sans-serif - 600 500;
    
*/

.return-nav {
  margin: 15px 10px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.return-nav:hover {
  text-decoration: underline;
  color: black;
}

#return-arrow {
  width: 26px;
}

#return-button {
  color: black;
  font-family: Roboto;
  font-weight: 700;
  font-size: 28px;
  text-align: left;
  margin: 0;
}

.produto-anuncio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 15px;
  border-bottom: 1px solid black;
}

.produto-img {
  max-width: 450px;
  max-height: 450px;
  width: 100%;
  border-radius: 15px;
}

.produto-text {
  max-width: min(550px, 80%);
}

.nome-item {
  color: #47525E;
  font-family: Roboto;
  font-size: 28px;
  text-align: center;
}

.preco-item {
  color: #47525E;
  font-family: Roboto;
  font-size: 38px;
  text-align: center;
}

.produto-text h2 {
  color: #47525E;
  font-family: Roboto;
  font-size: 20px;
  text-align: left;
}
  
.botao-shopee {
  width: 180px;
  border-radius: 15px;
}

.descricao-produto {
  margin: 20px auto;
}

.descricao-produto h1 {
  margin-top: 15px;
  color: #FF2D84;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 26px;
  text-align: center;
}

.descricao-produto {
  color: #47525E;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 18px;
  width: min(960px, 80vw);
  text-align: justify;
  margin: 0 auto;
}

.descricao-produto p {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}

.descricao-produto li {
  line-height: 30px;
}

/* Modal */
#modal-img {
  cursor: pointer;
  transition: 0.3s;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 70%;
  max-width: 600px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  body {
      font-size: 14px;
  }

  .modal-content {
    width: 100%;
  }
}

@media all and (min-width: 481px) and (max-width: 768px) { 
  body {
      font-size: 12px;
  }

  .modal-content {
    width: 100%;
  }
}

@media all and (max-width: 480px) {
  body {
      font-size: 10px;
  }

  .nome-item {
    font-size: 24px;
  }

  .modal-content {
    width: 100%;
  }
}
