@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
/* 
font-family: 'Roboto', sans-serif; 
400, 700, 900
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');
/* 
    font-family: 'Montserrat', sans-serif - 600 500;
    
*/

.return-nav {
  margin: 15px 10px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.return-nav:hover {
  text-decoration: underline;
  color: black;
}

#return-arrow {
  width: 26px;
}

#return-button {
  color: black;
  font-family: Roboto;
  font-weight: 700;
  font-size: 28px;
  text-align: left;
  margin: 0;
}

.produto-anuncio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 15px;
  border-bottom: 1px solid black;
}

.produto-img {
  max-width: 450px;
  max-height: 450px;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.produto-text {
  max-width: min(550px, 80%);
}

.nome-item {
  color: #47525E;
  font-family: Roboto;
  font-size: 28px;
  text-align: center;
}

.preco-item {
  color: #47525E;
  font-family: Roboto;
  font-size: 46px;
  text-align: center;
}

.produto-text h2 {
  color: #47525E;
  font-family: Roboto;
  font-size: 20px;
  text-align: left;
}
  
.botao-shopee {
  width: 180px;
  border-radius: 15px;
}

.descricao-produto {
  margin: 20px auto;
}

.descricao-produto h1 {
  color: #FF2D84;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 26px;
  text-align: center;
}

.descricao-produto {
  color: #47525E;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 18px;
  width: min(960px, 80vw);
  text-align: justify;
  margin: 0 auto;
}

.descricao-produto p {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}

.descricao-produto li {
  line-height: 30px;
}

