@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
/* 
font-family: 'Roboto', sans-serif; 
400, 700, 900
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');
/* 
    font-family: 'Montserrat', sans-serif - 600 500;
    
*/

.return-nav {
  margin: 15px 10px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.return-nav:hover {
  text-decoration: underline;
  color: black;
}

#return-arrow {
  width: 26px;
}

#return-button {
  color: black;
  font-family: Roboto;
  font-weight: 700;
  font-size: 28px;
  text-align: left;
  margin: 0;
}

.produto-anuncio {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 15px;
  border-bottom: 1px solid black;
}

.produto-img {
  max-width: 450px;
  max-height: 450px;
  width: auto;
  height: auto;
}

.produto-text {

}

.nome-item {
  color: #47525E;
  font-family: Roboto;
  font-size: 32px;
  text-align: center;
}

.preco-item {
  color: #47525E;
  font-family: Roboto;
  font-size: 46px;
  text-align: center;
}

.pr

.botao-shopee {
  
}

.descricao-produto {
margin: 20px 0;
}

.descricao-produto h1 {
  color: #FF2D84;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 38px;
  line-height: 62px;
  text-align: center;
}

.descricao-produto p {
  color: #47525E;
  font-family: Montserrat;
  font-size: 26px;
  line-height: 33px;
  width: 914px;
  text-align: justify;
  margin: 0 auto;
}
