@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
/* 
font-family: 'Roboto', sans-serif; 
400, 700, 900
*/

* {
  padding: 0;
}

body {
  font-size: 16px;
}

.dropdown-item:active {
  background-color: #ff659f;
}

.filtro-produtos {
  border-bottom: 1px solid #7E55F3;
  margin: 10px 30px;
}

.btn {
  margin: 5px;
}

.filtros {
  font-style: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.6em;
  color: #47525E;
}

.filtros li {
  margin: 0 8px;
}

#text-filtros {
  font-style: 'Roboto', sans-serif;
  font-weight: 900;
  font-family: Roboto;
  color: #47525E;
  font-size: 2em;
}

.filtro-atual {
  font-style: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.6em;
  text-decoration: underline;
}

.card-produtos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 35px;
  max-width: 80vw;
  margin: 0 auto 30px;
}

.produtos {
  position: relative;
}

.imagem-produto-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagem-produto {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  border-radius: 15px 15px 0 0;
}

.titulo-produto {
  color: #47525E;
  font-family: Roboto;
  font-weight: 400;
  font-size: 1.4em;
  text-align: center;
  margin-top: 8px;
}

.preco-produto {
  color: #47525E;
  font-family: Roboto;
  font-weight: 700;
  font-size: 2em;
  line-height: 1.55em;
  text-align: center;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  body {
      font-size: 14px;
  }
}

@media all and (min-width: 481px) and (max-width: 768px) { 
  body {
      font-size: 12px;
  }

  .imagem-produto {
    max-width: 80%;
    max-height: 80%;
  }
}

@media all and (max-width: 480px) {
  body {
      font-size: 10px;
  }

  .imagem-produto {
    max-width: 70%;
    max-height: 70%;
  }
}