@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');
/* 
    font-family: 'Montserrat', sans-serif - 600 500;
    
*/

* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

.texto-quem-somos {
    margin: 0 auto;
    width: 70vw;
}

#titulo-quem-somos {
    color: #FF2D84;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 3em;
    text-align: left;
    margin-top: 15px;
}

#paragrafo-quem-somos {
    color: #47525E;
    font-family: Montserrat;
    font-size: 1.25em;
    font-weight: 600;
    line-height: 1.5;
    text-align: justify;
    text-indent: 1.2em;
}

.biografia-samy {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
    margin: 0 auto 30px;
    background-color: #FF2D84;
    border-radius: 15px;
    padding: 32px 45px;
    max-width: 88vw;
}

.texto-samy {
    background-color: #FF67A0;
    border-radius: 15px;
    padding: 10px;
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 1.25em;
    text-align: left;
    width: min(550px, 98%);
}

.imagem-samy {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem-samy img {
    height: 450px;
    border-radius: 15px;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    body {
        font-size: 16px;
    }

    .imagem-samy img {
        width: 60%;
        height: auto;
        border-radius: 15px;
    }
}

@media all and (min-width: 481px) and (max-width: 768px) { 
    body {
        font-size: 14px;
    }

    #titulo-quem-somos {
        text-align: center;
    }
    
    .imagem-samy img {
        width: 80%;
        height: auto;
        border-radius: 15px;
    }
}

@media all and (max-width: 480px) {
    body {
        font-size: 12px;
    }

    #titulo-quem-somos {
        text-align: center;
    }

    .imagem-samy img {
        width: 80%;
        height: auto;
        border-radius: 15px;
    }

    .biografia-samy {
        max-width: 100vw;
        width: 100vw;
        margin: 0 auto;
        padding: 16px 22.5px;
        border-radius: 0;
    }

    .texto-samy {
        max-width: 100vw;
        width: 90vw;
    }
 }